.topbar{
    display: flex;
    background-color: rgb(121, 145, 145);
}

li{
    padding: 20px;
    background-color: rgb(116, 148, 148);
    
}

h1{
    background-color: rgb(130, 136, 195);
    text-align: center;
    font-size:35px;
    padding: 20px; 
}

body{
    background-color: rgb(157, 154, 198);
    margin:0px;    
}
footer{
    background-color: rgb(136, 136, 155);
    
}   